<!--
 - @desc  Pipeline Listing page 
 - @author Jackline_Xavier, Sirisilla.Pramesh 
 -->
<div class="" role="tabpanel" data-example-id="togglable-tabs">
	<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
		<li role="presentation" class="active"><a data-target="#added"
			id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Added</a>
		</li>
		<li role="presentation" class=""><a data-target="#approved"
			role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Approved</a>
		</li>
		<li role="presentation" class=""><a data-target="#black-listed"
			role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Black-listed</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="added"
			aria-labelledby="home-tab">
			<div>
				<table class="table">
					<thead>
						<tr>
							<th><input type="checkbox" class="flat"
								ng-model="selectedAllRows" ng-click="selectAllAddedContacts()"></th>
							<th>Select All</th>
						</tr>
					</thead>
					<tbody class="table table-borderless">
						<tr ng-repeat="contact in addedContacts">
							<th scope="row"><div class="checkbox">
									<label> <input type="checkbox" class="flat"
										ng-change="selectContactRow($index)"
										ng-model="contact.selected" />
									</label>
								</div></th>
							<td>
								<!-- Begin of single contact -->
								<div class="col-md-12 col-sm-12 col-xs-12 profile_details">
									<div class="well profile_view">
										<div class="col-sm-12 fixed-ht-130">
											<!-- <h4 class="brief"><i>Digital Strategist</i></h4> -->
											<h2>{{contact.name}}</h2>
											<div class="left col-md-7 col-sm-7 col-xs-12">
												<!-- <h2>Nicole Pearson</h2> -->
												<!-- <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p> -->
												<ul class="list-unstyled">
													<li><i class="fa fa-phone"></i> Phone #:
														{{contact.phone}}</li>
													<li><i class="fa fa-building"></i> Country:
														{{contact.country}}</li>
												</ul>
											</div>
											<div class="right col-md-5 col-sm-5 col-xs-12 text-center">
												<div class="form-group">
													<label class="control-label col-md-4 col-sm-4 col-xs-6"
														style="text-align: left;"> Call Attempt <span
														class="required">*</span></label>
													<div class="col-md-4 col-sm-4 col-xs-6">
														<select class="form-control"															
															ng-required="true"
															ng-model="callAttempts.selected"
															ng-options="attempt as attempt for attempt in callAttempts"
															ng-change="selectAttempt(callAttempts.selected)">
															<option value="" selected>--Select--</option>
														</select>
													</div>
												</div>
											</div>
											<br />
										</div>
										<div class="col-xs-12 bottom text-center">
											<div class="col-xs-12 col-sm-6 emphasis">
												<p class="ratings">
													<a>Time Added : </a> <a>{{contact.addedTime}}</a>
												</p>
											</div>
											<div class="col-xs-12 col-sm-6 emphasis" >
												<button type="button" class="btn btn-success btn-xs" ng-click="approveSingleContact(contact, 'approve')"
													style="float: right">
													<i class="fa fa-check"> </i> Approve
												</button>
												<button type="button" class="btn btn-danger btn-xs" ng-click="approveSingleContact(contact, 'reject')"
													style="float: right">
													<i class="fa fa-close"> </i> Reject
												</button>
												<button type="button" class="btn btn-primary btn-xs" ng-click="approveSingleContact(contact, 'onhold')"
													style="float: right">
													<i class="fa fa-pause"> </i> On Hold
												</button>
											</div>
										</div>
									</div>
								</div> <!-- End of single contact -->
							</td>
						</tr>
						<tr ng-if="addedContacts.length == 0 ">
							<td colspan="2" style="text-align: center;">No Records
								Exists</td>
						</tr>
					</tbody>
				</table>
				<!-- <div class="col-xs-12 col-sm-12 emphasis"
					ng-if="addedContacts.length > 0 "> -->
				<div class="col-xs-12 col-sm-12 emphasis"
					ng-show="selectedAtleastOneContact()">
					<button type="button" class="btn btn-success btn-sm"
						style="float: right">
						<i class="fa fa-check"> </i> Approve
					</button>
					<button type="button" class="btn btn-danger btn-sm"
						style="float: right">
						<i class="fa fa-close"> </i> Reject
					</button>
					<button type="button" class="btn btn-primary btn-sm"
						style="float: right">
						<i class="fa fa-pause"> </i> On Hold
					</button>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="approved"
			aria-labelledby="profile-tab">
			<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla
				single-origin coffee squid. Exercitation +1 labore velit, blog
				sartorial PBR leggings next level wes anderson artisan four loko
				farm-to-table craft beer twee. Qui photo booth letterpress, commodo
				enim craft beer mlkshk aliquip</p>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="black-listed"
			aria-labelledby="profile-tab">
			<p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla
				single-origin coffee squid. Exercitation +1 labore velit, blog
				sartorial PBR leggings next level wes anderson artisan four loko
				farm-to-table craft beer twee. Qui photo booth letterpress, commodo
				enim craft beer mlkshk</p>
		</div>
	</div>
</div>


